.first{
  background-color:#1DB9C3;
  padding: 100px;
  height: 700px;


    /* border: solid 10px; */
}
body{
  text-align: center;
  margin-left: 0;
margin-top: 0;
font-family: sans-serif;
}
h1{
  margin-top: 0;
font-family: 'Birthstone', cursive;
  font-size: 70px;
}

.lower-cloud{
  position: absolute;
  left: 350px;
      top: 225px;

}
.upper-cloud{
  position: absolute;
  right: 350px;
      top: 100px;

}
.img{
  width: 10%;
  height: 10%;
}

.hr{
  border-style:dotted;
}

.contact1{
  width:2.5%;
  height:2.5%;
  position: relative;
  right: 3.5%;
}
.contact2{
  width:2.5%;
  height:2.5%;
  position: relative;
  left: 0.5%;
}

.contact3{
  width:2.5%;
  height:2.5%;
  position: relative;
  left: 4%;
}
.footer-link{
  padding: 1%;

}
